@import url(style.css);

.lvlcont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    overflow: hidden;
    color: #999999;
    flex-wrap: wrap; /* deixa responsivo se a tela for pequena */
  }
  .lvlcont img {
    width: 150px;
    height: auto;
    border-radius: 5px;
  }
  