.body {
  padding: 10px;
  background: #000000;
  color: #999999;
}

.lvlcont {
  vertical-align: central;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  color: #999999;
}

.lvlhead {
  text-align: right;
  padding: 1px;
  padding-right: 8px;
  font-size: 18px;
  color: #808080;
}